<div class="row">
</div>
<div class="row">
    <div *ngFor="let publication of publications">
        <div class="flex flex-col w-full">

            <div class="w-4/5 mx-auto mt-5">
                <div class="flex w-full" style="justify-content: center">
                    <div class="flex-col rounded p-4" style="background: white;">
                        <div class="flex gap-3">
                            <div>
                                <img src="../../../assets/images/avatars/female-01.jpg"
                                    style="width: 70px ; height : auto ; border-radius: 100%">
                            </div>
                            <div>
                                <div style="width: 50vw; height: auto;"
                                    class="rounded-2xl">
                                    <p>{{publication.content}}</p>
                                </div>
                            </div>
                            <div class="flex">
                                <div class="flex my-2 items-center justify-content-center over cursor-pointer">
                                    <div style="width: 130px; height: auto; padding : 2px ; border-radius: 10px">
                                        <p-button icon="pi pi-heart" styleClass="p-button-help"></p-button>
                                        <div *ngIf="publication.likes; else noLikes" >
                                            {{publication.likes}}
                                        </div>
                                        <div #noLikes>
                                            0 likes  

                                        </div>
                                    </div>
                                    <div style="width: 130px; height: auto; padding : 2px ; border-radius: 10px">
                                        <p-button icon="pi pi-heart" styleClass="p-button-help"></p-button>
                                        <div *ngIf="publication.reacts; else noReacts" >
                                            {{publication.reacts}}
                                        </div>
                                        <div #noReacts>
                                            0 Reacts  

                                        </div>
                                    </div>
                                </div>
                                <div class="flex my-2" style="width: 100% ; justify-content: end">
                                    <button mat-button
                                        style="background: #3bab53; color: white ; padding: 5px!important;">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>