<div class="w-full mainEventsContainer">
    <!-- main -->
    <div class="filter-container w-full">
        <!-- Filter options and search bar go here -->
        <div class="searchContainer">
            <input
                type="text"
                placeholder="Search by name, Category or location"
                [(ngModel)]="searchTerm"
            />
            <button class="search-button" (click)="filterEvents(searchTerm)">
                Search
            </button>
        </div>

        <div class="checkFilters">
            <label>
                <input
                    type="checkbox"
                    name="filterOption"
                    value="online"
                    (change)="getOnlineEvents()"
                />
                Online
            </label>

            <label>
                <input
                    type="checkbox"
                    name="filterOption"
                    value="presentiel"
                    (change)="getPresentielEvents()"
                />
                On-Site
            </label>
            <p-button (click)="showAddUser()" icon="pi pi-user-plus" label="Create" class="mb-2"></p-button>

        </div>
    </div>
    
    <div
        class="eventsContainer"
        *ngFor="let event of filtering ? filteredEvents : events"
    >
        <div class="eventCard">
            <a [routerLink]="[event.id]">
                <img
                    src="../../../assets/images/avatars/female-01.jpg"
                    alt="event background image"
                />
                <div class="eventDetails">
                    <h3>{{ event.name }}</h3>
                    <p>{{ event.description }}</p>
                </div>
            </a>
        </div>
    </div>
</div>
<app-add-event [visible]="visible" ></app-add-event>