<div class="flex flex-col w-full">
<p-toast></p-toast>
    <form [formGroup]="publicationForm" (ngSubmit)="onAddPublication()" class="w-4/5 mx-auto mt-5">
        <div class="flex w-full" style="justify-content: center">
            <div class="flex-col rounded p-4" style="background: white;" >
            <div class="flex gap-3">
                <div>
                    <img src="../../../assets/images/avatars/female-01.jpg" style="width: 70px ; height : auto ; border-radius: 100%">
                </div>
                <div>
                    <div style="width: 50vw; height: auto; background: rgba(232,232,232,0.25)" class="rounded-2xl">
                        <textarea matInput class="w-full p-2" placeholder="What do you think?" formControlName="content"></textarea></div>
                </div>
            </div>
                <div class="flex">
                    <select name="" id="" formControlName="topic">
                        <option [ngValue]="null" disabled>Select a topic</option>
                        <option *ngFor="let topic of topics" [ngValue]="topic"  >{{topic2LabelMapping[topic]}}</option>
                    </select>
                <div class="flex my-2" style="width: 100% ; justify-content: end">
                    <button type="submit" mat-button style="background: #3bab53; color: white ; padding: 5px!important;">Post</button>
                </div>
                </div>
            </div>
        </div>

        <!-- <reclamation-content [userId]="userId" [op]="operations"></reclamation-content> -->
    </form>

</div>