<div *ngFor="let message of messages" >
<div class="card flex justify-content-center ">
    <p-card >
        <p class="m-0">
            {{message.text}}
        </p>
    </p-card>
</div>
</div>
<form [formGroup]="messageForm" (ngSubmit)="onAddMessage()" class="bottom-page">
    <div>
        <div style="width: 50vw; height: auto; background: rgba(232,232,232,0.25)" class="rounded-2xl">
            <textarea matInput class="w-full p-2" placeholder="Aa" formControlName="text"></textarea></div>
    </div>
    <div class="flex my-2" style="width: 100% ; justify-content: end">
        <button type="submit" mat-button style="background: #3bab53; color: white ; padding: 5px!important;">Post</button>
    </div>
</form>